# ESP32 CLI/GUI requirementsmakdist
# # Usage: pip install -r requirements.txt

cmd2
pyserial
pylint
ConfigArgParse
PySide6
PyQT5
PyQt5Designer
loguru
selenium
keyboard

# Micropython specific
# documentation: https://pypi.org/project/mpy-cross/
mpy-cross
# documentation: https://docs.micropython.org/en/latest/reference/pyboard.py.html
pyboard
# documenation: https://docs.micropython.org/en/latest/reference/mpremote.html
mpremote
# documentation: https://github.com/AmirHmZz/mpbridge
# Uses mpremote api calls !
mpbridge

# To create an installer / .exe
pyinstaller

# Color output support
colorama
websocket_client

# For documentation:
Sphinx
sphinx_rtd_theme
recommonmark
docopt
vulture