# ESP32 CLI/GUI requirementsmakdist
# # Usage: pip install -r requirements.txt

cmd2
pyserial
pylint
ConfigArgParse
PySide2

# To create an installer / .exe
pyinstaller

# For ESP32 logic
adafruit-ampy
shell49


# For documentation:
Sphinx
sphinx_rtd_theme
recommonmark