# ESP32 CLI/GUI requirementsmakdist
# # Usage: pip install -r requirements.txt

cmd2
pyserial
pylint
ConfigArgParse
PySide2
PyQT5
PyQt5Designer
loguru
selenium
keyboard

# Micropython specific
mpy-cross

# To create an installer / .exe
pyinstaller

# Color output support
colorama
websocket_client

# For documentation:
Sphinx
sphinx_rtd_theme
recommonmark
docopt